
* { box-sizing: border-box; }

*::placeholder { font-family: Arial, Helvetica, sans-serif; }

html {
    font-size: 18px;
}

body { font-family: Arial, Helvetica, sans-serif; }

.h1, 
.h2 { font-family: Arial Black, Arial, Helvetica, sans-serif; }

.h1 { font-size: 1.8rem; }

.h2 { font-size: 1.5rem; }

.txt-center {
    text-align: center;
}

.txt-small {
    font-size: .7rem;
}

.l-app {
    display: grid;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto auto 25px;
    gap: 10px;
    grid-template-areas: 
        "nav nav nav nav"
        "wrapper wrapper wrapper wrapper"
        "wrapper-card wrapper-card wrapper-card wrapper-card"
        "footer footer footer footer";
}

.l-nav {
    align-items: center;
    display: flex;
    grid-area: nav;
    gap: 50px;
}

.l-sidebar {
    grid-area: sidebar;
}

.l-wrapper {
    margin-top: 25px;
    grid-area: wrapper;
}

.l-wrapper-card {
    grid-area: wrapper-card;
}

.l-footer {
    grid-area: footer;
    margin: 10px 0;
    padding: 10px 0;
}

/*
    Logo

*/
.c-logo {
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
}

/*
    Nav

*/
.c-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.c-nav__item {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

/*
    Carousel

*/
.c-carousel {
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 25px;
    justify-content: center;
    width: 100%;
}

.c-carousel__display {
    font-size: 1.575rem;
    margin: 0;
}

.c-carousel__description {
    font-size: .9rem;
}

/*
    Form

*/
.c-form__group {
    margin: 15px 0;
}

.c-form__row {
    display: block;
}

.c-form__label {
    display: block;
    font-size: .9rem;
    margin-bottom: 10px;
}

.c-form__control,
.c-form__textarea {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}

.c-form__textarea {
    min-height: 100px;
}

/*
    Button

*/
.c-btn {
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: block;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-size: .9rem;
    padding: 10px 25px;
    width: 100%;
}

.c-btn:hover {
    background-color: orangered;
    transition: all .5s;
    transform: scale(1.03) translateY(-5px);
}

/*
    Cartão

*/
.c-card {
    margin: 0;
}

.c-card:hover {
    transition: all .5s;
    transform: scale(1.02) translateY(-5px);
}

.c-card__thumbnail {
    display: block;
    border: none;
    border-radius: 10px;
}

.c-card__description {
    font-size: .9rem;
    margin: 15px 10px;
    width: 100%;
}

/*
    Responsividade...
    Desktop

*/
@media (min-width: 720px)
{

    html {
        font-size: 16px;
    }

    .c-nav {
        flex-direction: row;
    }

    .c-form__row {
        display: flex;
        gap: 10px;
    }

    .c-form__group {
        flex: 1;
    }

    .c-btn {
        display: inline-block;
        width: auto;
    }
}